In [1]:
import pandas as pd

In [72]:
# Read in and examine the imdb reviews dataset
imdb = pd.read_csv('CSVs/IMDB Dataset.csv')
imdb.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [73]:
imdb['sentiment'].unique()

array(['positive', 'negative'], dtype=object)

In [75]:
# Change sentiment to match format of other two datasets--2 for positive, 1 for negative
imdb.sentiment = imdb.sentiment.apply(lambda x: 2 if x=='positive' else 1)

In [76]:
# Put the columns in order
imdb = imdb[['sentiment','review']]
imdb.head()

   sentiment                                             review
0          2  One of the other reviewers has mentioned that ...
1          2  A wonderful little production. <br /><br />The...
2          2  I thought this was a wonderful way to spend ti...
3          1  Basically there's a family where a little boy ...
4          2  Petter Mattei's "Love in the Time of Money" is...

In [4]:
# Read in and examine the yelp reviews dataset
yelp_train = pd.read_csv('CSVs/yelp_train.csv',header=None)
yelp_train.head()

In [5]:
yelp_train.columns = ['sentiment','review']
yelp_train.head()

   sentiment                                             review
0          1  Unfortunately, the frustration of being Dr. Go...
1          2  Been going to Dr. Goldberg for over 10 years. ...
2          1  I don't know what Dr. Goldberg was like before...
3          1  I'm writing this review to give you a heads up...
4          2  All the food is great here. But the best thing...

In [57]:
def preprocess_amazon(input_file, output_file, encoding):
    '''Amazon files are in the format __label__[1,2] [text].
    Create a processed file in the format [1,2]\t[text]'''
    with open(input_file, 'r',encoding=file_encoding) as infile, open(output_file, 'w',encoding=file_encoding) as outfile:
        i = 0
        for line in infile: 
            processed_line = line.strip('__label__')
            processed_line = processed_line[0] + '\t' + processed_line[2:]
            outfile.write(processed_line + '\n')

In [61]:
test_input_file = 'CSVs/amazon_test.ft.txt'
test_output_file = 'CSVs/amazon_test_processed.txt'
train_input_file = 'CSVs/amazon_train.ft.txt'
train_output_file = 'CSVs/amazon_train_processed.txt'
file_encoding = 'utf-8'

In [62]:
preprocess_amazon(test_input_file,test_output_file,file_encoding)

In [63]:
preprocess_amazon(train_input_file,train_output_file,file_encoding)

In [64]:
amazon_test = pd.read_csv('CSVs/amazon_test_processed.txt',sep='\t',header=None,names=['sentiment','review'])
amazon_test.head()

   sentiment                                             review
0          2  Great CD: My lovely Pat has one of the GREAT v...
1          2  One of the best game music soundtracks - for a...
2          1  Batteries died within a year ...: I bought thi...
3          2  works fine, but Maha Energy is better: Check o...
4          2  Great for the non-audiophile: Reviewed quite a...

In [66]:
amazon_train = pd.read_csv('CSVs/amazon_train_processed.txt',sep='\t',header=None,names=['sentiment','review'])
amazon_train.head()

   sentiment                                             review
0          2  Stuning even for the non-gamer: This sound tra...
1          2  The best soundtrack ever to anything.: I'm rea...
2          2  Amazing!: This soundtrack is my favorite music...
3          2  Excellent Soundtrack: I truly like this soundt...
4          2  Remember, Pull Your Jaw Off The Floor After He...